@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --darkGrey: #878787;
  --grey: #ababab;
  --lightGrey: #f1eeee;

  --tanText: #434343;
  --darkGrey: #878787;
  --darkText: #2a2b2b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar */

.gradient-background {
  background-image: linear-gradient(90deg, #ea4134, #4386f1, #fbba0a, #0d9c5a);
  background-clip: text;
}

.nav-text {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

/* Sidebar */

#three-lines {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(220deg)
    brightness(101%) contrast(101%);
  z-index: 2000;
}

#side-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes moveLeft {
  to {
    transform: translateX(-10);
  }
}

.moveLeft {
  animation: moveLeft linear;
  animation-timeline: view();
  animation-range-start: cover 43px;
  animation-range-end: 37vh;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  to {
    transform: translateX(10);
  }
}

.moveRight {
  animation: moveRight linear;
  animation-timeline: view();
  animation-range-start: cover 43px;
  animation-range-end: 37vh;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  to {
    visibility: visible;
    width: fit-content;
    scale: 1;
  }
}

.fadeInOut {
  scale: 0;
  visibility: hidden;
  animation: fadeInOut linear;
  animation-timeline: view();
  animation-range-start: cover 43px;
  animation-range-end: 37vh;
  animation-fill-mode: forwards;
}

.title {
  font-size: xx-large;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce-reverse {
  0%,
  100% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-reverse {
  animation: bounce-reverse 1s infinite;
}

.vertical-timeline-element-icon {
  display: grid;
  place-items: center;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #e84335,
    #d32f2f,
    #4385f5,
    #76c043,
    #004ba0,
    #109e59,
    #007ac1
  );
  background-size: 1000% 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .body {
    overflow: hidden;
  }
}
/* css for the mobile caro usel*/
.carousel {
  @apply inline-flex overflow-x-scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  &-vertical {
    @apply flex-col overflow-y-scroll;
    scroll-snap-type: y mandatory;
  }
  &-item {
    @apply box-content flex flex-none;
    scroll-snap-align: start;
  }
  &-start .carousel-item {
    scroll-snap-align: start;
  }
  &-center .carousel-item {
    scroll-snap-align: center;
  }
  &-end .carousel-item {
    scroll-snap-align: end;
  }
}
/* css for about us */


.h2 {
  font-family: Google Sans Medium;
  font-size: 50px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.h3 {
  font-family: Google Sans Medium;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

.t2 {
  font-family: Google Sans Regular;
  font-size: 16.5px;
  letter-spacing: 0.8px;
  margin: 5px 0;
  padding: 0;
}

.tanText {
  color: var(--tanText);
}

.darkGrey {
  color: var(--darkGrey);
}

.darkText {
  color: var(--darkText);
}
.lightText {
  color: var(--lightGrey);
}
.lightTanText {
  color: var(--tanText);
}

.ta-center {
  text-align: center;
}
.featurecontainer{
  width:100% ;
  overflow-x: hidden;
  overflow-y: auto;
 margin-left: -1% ;
}

.features {
  margin: 40px auto;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 101%;

}

.feature-item {
  width: 100%;
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
  justify-content: space-between;
  margin: 20px 0;
}

.feature-item-left {
  width: 47.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8vw;
  border-radius: 20px;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  padding-right: 0;
  flex-direction: row;
}


.feature-item-right {
  width: 52.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8vw;
}
.feature-item:nth-child(even)   {
  flex-direction: row-reverse;

}

@media only screen and (max-width: 738px) {
  .featurecontainer{
 width: 100vw;
 overflow-x: hidden;
  }
  .features {
  margin: 40px auto;
  margin-top: 6%;
  width: 100vw;
}
  .feature-item {
    flex-direction: column;
    height: auto;
    padding: 20px;
        align-items: center;
  }

  .feature-item-left {
    width: 100%;
    height: 350px;
    padding: 0 10px;
  }

  .feature-item-right {
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .feature-item-right .h2 {
    font-size: 28px;
    text-align: center;
  }

  .feature-item-right .t2 {
    text-align: center;
  }

  .feature-item:nth-child(even) {
    flex-direction: column;
  }
}